<nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
        <li class="ts-label">Search</li>
        <li>
            <input type="text" class="ts-sidebar-search" placeholder="Search here...">
        </li>
        <li class="ts-label">Main</li>
        <li class="open"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#"><i class="fa fa-desktop"></i> UI Elements</a>
            <ul>
                <li><a href="panels.html">Panels and Wells</a></li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="notifications.html">Notifications</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="icon.html">Icon</a></li>
                <li><a href="grid.html">Grid</a></li>
            </ul>
        </li>
        <li><a href="tables.html"><i class="fa fa-table"></i> Tables</a></li>
        <li><a href="forms.html"><i class="fa fa-edit"></i> Forms</a></li>
        <li><a href="charts.html"><i class="fa fa-pie-chart"></i> Charts</a></li>
        <li><a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown</a>
            <ul>
                <li><a href="#">2nd level</a></li>
                <li><a href="#">2nd level</a></li>
                <li><a href="#">3rd level</a>
                    <ul>
                        <li><a href="#">3rd level</a></li>
                        <li><a href="#">3rd level</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-files-o"></i> Sample Pages</a>
            <ul>
                <li><a href="blank.html">Blank page</a></li>
                <li><a href="login.html">Login page</a></li>
            </ul>
        </li>

        <!-- Account from above -->
        <ul class="ts-profile-nav">
            <li><a href="#">Help</a></li>
            <li><a href="#">Settings</a></li>
            <li class="ts-account">
                <a href="#"><img src="images/ts-avatar.jpg" class="ts-avatar hidden-side" alt=""> Account <i class="fa fa-angle-down hidden-side"></i></a>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Edit Account</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>

    </ul>
</nav>
