<panel panel-model="vm.pannelOptions">
    <panel-body>
        <div class="row">
            <div class="col-md-4">
                <ul class="chart-dot-list">
                    <li class="a1">date 1</li>
                    <li class="a2">data 2</li>
                    <li class="a3">data 3</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="chart chart-doughnut">
                    <canvas id="{{vm.id}}" width="{{vm.width}}" height="{{vm.height}}" />
                </div>
            </div>
        </div>
    </panel-body>
</panel>

